$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

$veryDarkBlue: hsl(234, 12%, 34%);
$grayishBlue: hsl(229, 6%, 66%);
$veryLightGray: hsl(0, 0%, 98%);

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background-color: $veryLightGray;
  color: $veryDarkBlue;
}

body {
  padding: 0 2rem;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.subheading {
  text-align: center;
  color: $grayishBlue;
  font-size: .95rem;
  line-height: 1.75;
}

.text-bold {
  font-weight: 600;
}

header {
  margin: 5.1rem 0 4.5rem;
}

.card {
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem 1px rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
  aspect-ratio: 1 / .7;
  padding: 1.75rem;
  margin-bottom: 2rem;
  
  &__title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: .5rem;
  }

  &__description {
    color: $grayishBlue;
    line-height: 1.825;
    font-size: .825rem;
  }

  &--red {
    border-top: 4px solid $red;
  }

  &--cyan {
    border-top: 4px solid $cyan;
  }

  &--orange {
    border-top: 4px solid $orange;
  }

  &--blue {
    border-top: 4px solid $blue;
  }
}

.attribution {
  margin-top: 2rem;
  font-size: .75rem;
  text-align: center;
}

.attribution a {
  color: $veryDarkBlue;
  font-weight: 600;
}